/* Headings */
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1.75; 
    margin: 0;  
}
h1{
    color: #545454;
    /* color: #606060; */
    /* color: #696969; */
    font-family: 'Lobster';
    font-size: 7.5rem;
    margin-top: 0;
}
h2, h3, h4{
    /* font-family: 'Libre Baskerville'; */
    font-family: "Martel";
    padding: 2% 0;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 1.5rem;
}
.centre-text {
    text-align: center;
    width: 80%;
}

/* Containers */
.myContainer {
    margin: 0 auto;
    padding: 3% 0 7%;
    width: 60%;
}

#homepage{
    background: linear-gradient(180deg,#D3D3D3 45%,  #C9BBCB 85%, #E7E7E7 97%);
}

/* Alternating Sections*/
.white-section {
    color: #545454;
}
/* .colored-section {
    background-color: #545454;
    color: white;
} */

/* Navigation Bar */
.nav-link {
    font-family: 'Montserrat';
    color: #696969;
    /* color: #9C8AA4; */
    font-weight: bold;
}
a.nav-link {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Intro Section */
#intro {
    background: 
        linear-gradient(transparent, #D3D3D3 95%), 
        url("images/marble.jpg") no-repeat center;
    background-size: 100%;
}

.intro-div {
    padding: 15% 0;
    text-align: center;
}

.intro-sub {
    font-family: 'Montserrat';
    font-size: 1rem;
    position: relative;
    left: 75px;
}

/* About Me Section */
#aboutMe {
    width: 55% auto;
}
/* Project Section */
#projects h2 {
    /* color: white; */
    color: #545454;
}
.carousel-item {
    text-align: center;
}

.project-img {
    margin: 0 auto;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 1%;
}

.carousel-item:hover .project-img {
    opacity: 0.1;
}

.caption{
    position: absolute;
    right: 15%;
    bottom: 40px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    /* color: #fff; */
    color: #545454;
    text-align: center;
    display: none;
}

.carousel-item:hover .caption{
    display: inline;
}

.socials{
    padding-top: 2%;
}
.social {
    color: #696969;
    padding-left: 5%;
    padding-right: 5%;
}

.project-btn {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Footer Section */
footer {
    opacity: 0.25;
    margin: 0;
}
footer p {
    font-size: 1rem;
}

footer .container {
    padding: 5% 0 3%;
}

/* SubNav */
.logo {
    width: 45px;
}

.sub-nav{
    background-color:#606060;
}

.project-list {
    color: black;
}

/* project page */
.subnavlink{
    color: white;
}

.projectList {
    margin-top: 20px;
}

.projects img {
    display: block;
    margin: 0 auto 10px;
}

.projectImg {
    width: 50%;
}

.img2 {
    width: 60%;
}

.projects p {
    margin-bottom: 10px;
}

/* =========== PROJECTS ALBUM ================ */
.centre{
    margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}